@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

/* Algemeen */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0; 
  background-color: #111;
  color: #fff;
  font-family: "Press Start 2P", system-ui;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  height: 90vh;
}

/* Tekst */

h2 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 100;
  margin: .5em;
  text-align: center;
  line-height: 1.2em;
}

p {
  font-weight: 100;
  font-size: 2em;
  font-family: "Play", sans-serif;
  text-align: center;
  padding: 1em;
  width: 75%;
}

button, input {
  font-weight: 100;
  font-size: 1.2em;
  font-family: "Play", sans-serif;
  text-align: center;
  text-transform: uppercase;

  background-color: #fff;
  border: none;
  border-radius: .1em;

  padding: 1em;
  margin: .5em;
  width: fit-content;
  height: fit-content;
}

input::placeholder {
  text-transform: uppercase;
}

input {
  text-transform: none;
  text-align: left;
}

#startScreen  {
  padding-top: 2em;
  padding-bottom: 2em;
  justify-content: start;
  align-items: center;

  width: 100%;
  background-image: url("../images/startScreenBG.png");
  background-size: 102%;
  overflow: visible;
}

#missionBrief,
#loginScreen,
#victoryScreen,
#failureScreen {
  padding-top: 4em;
  width: 100%;
  background-image: url("../images/loginScreenBG.png");
  background-size: 102%;
  overflow: visible;
}

#startScreen h2 {
  text-align: center;
  line-height: 1.2em;
  font-size: 5em;
  margin-bottom: 0;
}

/* Canvas */

canvas {
  padding: 0;
  margin: 0;

  height: 100vh;
  width: fit-content;
}

/* Pop-up bij het vinden van de computer */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-content h2{
  margin: 0;
  font-size: 1.5em;
  font-weight: 100;
}

.popup-content p {
  color: #fff;
  padding: 1em;
  font-size: 1.2em;
  font-weight: 100;
}

.popup-content input {
  width: 75%;
}

.popup.show {
  display: flex;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  width: 50%;
  height: 50%;
  background: #222;
  border: .5em solid rgb(119, 119, 119);
  padding: 4em;
  border-radius: .5em;
  color: #fff;
  text-align: center;
}

/* Verdwijn Sections */

.hidden {
  display: none;
}

body > div:first-of-type {
  display: flex;
  justify-content: center;
}

/* Timer */

#timerDisplay {
  position: fixed;
  justify-content: center;
  top: 1em;
  background-color: #222;
  padding: 1em;
  font-family: "Press Start 2P", system-ui;
  font-size: 1em;
  color: white;
  z-index: 5;
}

#timerDisplay p {
  padding: 0;
  font-family: "Press Start 2P", system-ui;
  font-size: 1.5em;
  font-weight: 100;
}

/* Victory */

#victoryScreen p {
  width: 50%;
  padding: 0;
}

#victoryScreen > div {
  display: flex;
  justify-content: center;
  flex-flow: row;
  width: 50%;
  padding-bottom: 1em;
}
#victoryScreen > div p {
  padding: 0;
  margin: 0;
  padding: 1em;
  width: fit-content;
  font-weight: 400;
  text-transform: uppercase;
}
